.column-input-field {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
  }

  .active-input {
    padding: 2px 4px;
    background-color: rgba(25, 118, 210, 0.06); /* primary blue highlight */
    border-radius: 4px;
  }

  ::ng-deep .column-input-field.active .mdc-text-field {
    background-color: rgba(25, 118, 210, 0.06); /* soft blue */
    border-radius: 4px;
    transition: background-color 200ms ease-in;
  }