<mat-form-field 
    appearance="outline"
    class="column-input-field"
    floatLabel="auto" 
    [class.active]="!!control.value">
    <mat-label>{{ label }}</mat-label>
    <input matInput [formControl]="control" [placeholder]="label" class="column-search-input">
    <button 
        *ngIf="control.value"
        matSuffix
        mat-icon-button
        aria-label="Clear" 
        (click)="clear()" 
        tabindex="-1" 
        matTooltip="Clear">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

