.column-input-field {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
  }

  .active-input {
    padding: 2px 4px;
    background-color: rgba(25, 118, 210, 0.06); /* primary blue highlight */
    border-radius: 4px;
  }

  ::ng-deep .column-input-field.active .mdc-text-field {
    background-color: rgba(25, 118, 210, 0.06); /* soft blue */
    border-radius: 4px;
    transition: background-color 200ms ease-in, box-shadow 200ms ease-in;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* or pick from above */
  }

  ::ng-deep .column-input-field.active button[mat-icon-button] {
    color: rgba(25, 118, 210, 0.8); /* match primary palette */
  opacity: 0.9;
  transition: color 200ms ease-in;
}


::ng-deep .column-input-field button[mat-icon-button]:hover {
  opacity: 1;
}

::ng-deep button[mat-icon-button] {
  background: none;
  border: none;
  box-shadow: none;
}