::ng-deep .mat-mdc-row:hover {
    background-color: var(--mat-mdc-accent, #82b1ff);
    cursor: pointer;
  }
  
  ::ng-deep .mat-mdc-row.selected-row{
    background-color: #1976d2;
    color: white;
    transition: background-color 200ms ease-in, color 200ms ease-in;
  }

  ::ng-deep .mat-mdc-row,
::ng-deep .mat-mdc-cell {
  user-select: none;       /* prevents text selection/caret */
  outline: none;           /* removes focus outline */
}

::ng-deep .mat-mdc-row {
    pointer-events: auto;
  }
.message-summary-table {
  font-size: 0.85rem; /* Adjust font size for better readability */
}

::ng-deep .filter-row {
  position: sticky;
  top: 56px; 
  z-index: 10;
  background-color: white; /* ensure it's above table rows */
}

::ng-deep .mat-header-row.filter-row {
  position: sticky;
  top: 56px; /* adjust based on actual header height */
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

::ng-deep .mat-header-row:not(.filter-row) {
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: white;
}

.table-container {
  max-height: 600px; /* adjust to your layout */
  overflow-y: auto;
  display: block;
  overflow-x: hidden;
}

:host {
  display: block;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 8px;
}